version: '3.8'

services:
  web:
    build: ./services/web
    command: python manage.py run -h 0.0.0.0
    volumes:
      - ./services/web/:/usr/src/app
      - ./mnt:/mnt
    ports:
      - 5000:5000
    env_file:
      - ./services/.env.dev
    networks:
      static-network:
        ipv4_address: 10.20.0.88
  db:
    image: postgres:13
    volumes:
      - postgres_data:/var/lib/postgresql/data/
      - ./services/init.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
      - POSTGRES_USER=polardbPL
      - POSTGRES_PASSWORD=polardbpswd
      - POSTGRES_DB=polardbDB
    ports:
      - 5432:5432
    networks:
      static-network:
        ipv4_address: 10.20.0.66
networks:
  static-network:
    ipam:
      config:
        - subnet: 10.20.0.0/16
volumes:
  postgres_data:
  output:
  input:
  databases:
    